.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  color: #fff;
  text-decoration: none;
  width: 200px;
}

.btn-gray {
  background-color: #6c757d;
}
