<div class="container">
  <h2>Adicionar Produto</h2>
  <form [formGroup]="produtoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input id="nome" formControlName="nm_produto" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="validade">Data de Validade:</label>
      <input id="validade" formControlName="validade" type="date" class="form-control" />
    </div>
    <div class="form-group">
      <label for="quantidade">Quantidade:</label>
      <input id="quantidade" formControlName="quantidade" type="number" class="form-control" />
    </div>
    <button type="submit" class="btn-verde">Adicionar</button>
  </form>
</div>
